.btn {
  padding: 7px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
}

.btn-primary {
  color: $white;
}

.btn-outline-secondary {
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #EBEBEB;
}
