:root {
	// layout
	--nav-height: 56px;

  @include media-breakpoint-up(md) {
    --nav-height: 71px;
  }
}

body {
	background-color: var(--white);
	color: var(--dark);
	font-family: 'Commissioner', sans-serif;
	font-size: 16px;
	font-weight: 400;
}
